#dropdown {
  width: 30px;
}

#dropdown_menu {
  position: absolute;
  z-index: 2;
}

#dropdown_menu button {
  margin: 0;
  display: block;
}

#galery {
  display: flex;
  align-items: center;
}

#frame {
  width: 100px;
  height: 100px;
  border: 20px black solid;
  background-color: transparent;
  overflow: hidden;
}

#pictures {
  display: flex;
}

.picture {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
}

#pink {
  background-color: pink;
}

#buttons {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: grey;
  border: none;
}

.selected {
  background-color: lightgrey;
}
